
*{
    margin: 0;
    padding: 0;
}

.menubar{
    background: rgb(36, 6, 117);
    height: 125px;
    width: 100%;
}
.logo{
    margin-top:20px;
    font-size:50px;
    color: #fff;
    text-align: center;
}
span{
    color: tomato;
}

.menubar ul{
 padding: 0;
 margin: 0;
 margin-right: 30px;
 padding: 10px 60px 0 0;
 text-align: center;

}

.menubar ul li{
    position: relative;
    display: inline-block;

}

.menubar ul li a{
    text-decoration: none;
    background: rgb(2, 109, 141);
    color: #fff;
    padding: 10px 16px;
    display:block;
}



.menubar ul ul{
   position:absolute;
   top:40;
   display: none;
}

.menubar ul li:hover > ul{
    display:block;
}

.menubar ul ul li{
    width: 150px;
    float: none;
    position: relative;
}

.menubar ul li a:hover{
    background-color: burlywood;
    color: black;
    font-weight:400
}

.item{
    float: right;
    color: rgb(255, 0, 0);
    font-size: 40px;
    margin-right: 25px;
}


main{
    width:95%;
    display: grid;
    grid-template-rows:200px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:7%;
    margin-top: 100px;
    column-gap: 40px;
    row-gap:20rem;
}
.row1 h3{
    color:rgb(94, 71, 71);
    font-weight: 600;
    margin-left:30px;
    margin-bottom: 15px;
    font-size: 25px;
}

img{
    border-radius:10px;
    box-shadow: 2px 8px 30px 5px rgb(85, 85, 85);
}
body{
    background: linear-gradient(rgb(255, 214, 214),rgb(190, 255, 255));
}

.row1 button{
    margin-top: 15px;
    padding: 5px 12px;
    background: rgb(126, 126, 126);
    border-radius: 4px;
    transition: all 0.3s ease;
    border: none;
    color: beige;
    font-weight: bold;
    margin-left: 5px;
}

.row1 button:hover{
    background: #fff;
    color: black;
}

footer{
   display:flex;
    background:rgb(16, 14, 116);
    padding: 20px 0 0 30rem;
    height: 17rem;
    margin-top:50px;
}

.box ul{
list-style: none;
padding:20px 150px 0 0;
}
.box ul li{
  margin-left: 25px;
  line-height:25px;
  
}
.box h1{
   color: rgb(0, 127, 212);
   font-size: 30px;
   margin-top: 15px;
}
.box ul li a{
    text-decoration: none;
    color: rgb(165, 165, 165);
    font-weight:400;
}

.box ul li a:hover{
    color: #ffff;
}


.box h1 i{
    font-size:25px;
    color: rgb(202, 190, 190);
    margin-left: 8px;
}
.end{
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 20px;
    background:rgb(10, 8, 156);
}

@media screen and (max-width: 500px) {
    .menubar ul{
        display: none;
    }
}


@media screen and(max-width: 500px) {
  .box{
    max-width:200px;
    
  } 

}



@media screen and (max-width: 500px) {
    
    footer .box{
        
        width:100px;
        display: block;
        font-size: 12px;
        margin-left: 10px;
        float: left;
     }
      
    .box h1{
        font-size: 14px;
    }
    
    } 
    
    @media screen  and (max-width: 500px){
        main{
            max-width:200px;
            display: grid;
            grid-template-rows:150px;
            grid-template-columns: 1fr;
            margin-left:12%;
            margin-bottom: 3rem;
        }

        footer{
            display: none;
        }
    }

